/*****************************************
* Global Variables -- Begin
*****************************************/
:root {
    --white: #fdffff;
    --blue: #010081;
    --teal: #008080;
    --black: #000000;
    --darkGray: #818181;
    --lightGray: #c3c3c3;
    --pink: #ff0081;
    
    --ImageDisplayWidth: 800px;
    --ImageSelectWidth: 300px;
    --ImageSelectionHeight: 538px;
    --ImageDisplayHeight: 800px;
    --ImageProcessingHeight: 800px;
    --FooterHeight: 100px;

    --ImageWidth: 600px;
  }
/*****************************************
* Global Variables -- End
*****************************************/

/*****************************************
* General CSS -- Begin
*******************************#000000**********/
body {
    background-color: var(--teal);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}
/*****************************************
* General CSS -- End
*****************************************/

/*****************************************
* Body CSS -- Begin
*****************************************/
/* Grid Layout */
.body-grid-container {
    display: grid;
    grid-template-columns: auto var(--ImageSelectWidth) var(--ImageDisplayWidth) auto;
}

.image-selection-window {
    grid-column: 2;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageSelectionHeight);
    margin-top: 165px;
    margin-right: 5px;
}

.image-display-window {
    grid-column: 3;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageDisplayHeight);
    margin-top: 40px;
    margin-right: 5px;
}

.image-processing-window {
    grid-column: 2 / 4;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageProcessingHeight);
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-window {
    grid-column: 2 / 4;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    border-bottom: none;
    height: var(--FooterHeight);
    margin-top: 40px;
}
/*****************************************
* Body CSS -- End
*****************************************/

/*****************************************
* Nav Bar CSS -- Begin
*****************************************/
.nav-li {
    float: left;
    border-right: 1px solid var(--black);
}

.nav-li-a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.Nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lightGray);
    grid-column: 2 / 4;
    border: 2px solid var(--blue);
    border-top: none;
}

.header-grid-container {
    display: grid;
    grid-template-columns: auto var(--ImageSelectWidth) var(--ImageDisplayWidth) auto;
}

.header-grid-item {
    background-color: var(--lightGray);
    border: 2px solid var(--black);
}

.logo-item {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    grid-column: 2;
}
/*****************************************
* Header CSS -- End
*****************************************/

/*****************************************
* Image Selction CSS -- Begin
*****************************************/
.image-selection-window header {
    background-color: var(--darkGray);
    height: 10%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-top: 11px;
}

.image-selection-window .selection-tab {
    overflow: hidden;
    background-color: var(--lightGray);
    height: 90%;
}

.image-selection-window .selection-tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-top: 2px solid var(--black);
    outline: none;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 18px;
    width: 100%;
    height: 10%;
}

.selection-tab button:hover {
    background-color: var(--darkGray);
}

.selection-tab button.active {
    background-color: var(--white);
}
/*****************************************
* Image Selction CSS -- End
*****************************************/

/*****************************************
* Image CSS -- Begin
*****************************************/
.image-display-window header {
    text-align: center;
    font-weight: bold;
    background-color: var(--darkGray);
    border-bottom: 2px solid var(--black);
    margin: 0;
    padding: 10px;
    font-size: 35px;
    height: 8%;
}

.image-display-window .image-display {
    text-align: center;
    margin: 0;
    padding-top: 85px;
    height: 86%;
}

.image-display-window .image-display .image-features {
    border: 2px solid var(--black);
    border-radius: 10px;
}

.image-display-window .image-control-panel {
    background-color: var(--darkGray);
    border-top: 2px solid var(--black);
    text-align: center;
    margin: 0;
    height: 6%;
}

.image-control-text {
    font-size: 24px;
    padding: 7px;
}

/*****************************************
* Image CSS -- End
*****************************************/

/*****************************************
* DIP CSS -- Begin
*****************************************/
.dip-tab {
    overflow: hidden;
    border-bottom: 2px solid var(--black);
    background-color: var(--darkGray);
}

.dip-tab button {
    background-color: inherit;
    border: none;
    border-right: 2px solid var(--black);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 20px 18px;
    transition: 0.3s;
    font-size: 20px;
    width: 50%;
}

.dip-tab button:last-child {
    border: none;
}

.dip-tab button:hover {
    background-color: var(--lightGray);
}

.dip-tab button.active {
    background-color: var(--white);
}

.dip-content {
    display: none;
}

.dip-content::after {
    content: "";
    clear: both;
    display: table;
}

.dip-item {
    display: inline-table;
    float: left;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
}

.dip-boundary {
    width: 20%;
}

.dip-checkbox {
    width: 10%;
}

.dip-label {
    width: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.dip-ui {
    width: 30%;
}
/*****************************************
* DIP CSS -- End
*****************************************/

/*****************************************
* Slider CSS -- Begin
*****************************************/














/*
.image-processing-window label {
}

.image-processing-window .switch-cont {
    width: 49%;
    border: 2px solid var(--blue);
    display: inline-block;
}

.image-processing-window .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkGray);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--pink);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
*/