/*****************************************
* Global Variables -- Begin
*****************************************/
:root {
    --white: #fdffff;
    --blue: #010081;
    --teal: #008080;
    --black: #000000;
    --darkGray: #818181;
    --lightGray: #c3c3c3;
    --pink: #ff0081;
    --ImageDisplayWidth: 800px;
    --ImageSelectWidth: 300px;
    --ImageSelectionHeight: 537px;
    --ImageDisplayHeight: 800px;
    --ImageProcessingHeight: 800px;
  }
/*****************************************
* Global Variables -- End
*****************************************/

/*****************************************
* General CSS -- Begin
*******************************#000000**********/
body {
    background-color: var(--teal);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

/*
li a:hover {
    background-color: var(--darkGray);
}/**/
/*****************************************
* General CSS -- End
*****************************************/

/*****************************************
* Body CSS -- Begin
*****************************************/
/* Grid Layout */
.body-grid-container {
    display: grid;
    grid-template-columns: auto var(--ImageSelectWidth) var(--ImageDisplayWidth) auto;
}

.image-selction-window {
    grid-column: 2;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageSelectionHeight);
    margin-top: 135px;
    margin-right: 5px;
}

.image-display-window {
    grid-column: 3;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageDisplayHeight);
    margin-top: 10px;
    margin-right: 5px;
}

.image-processing-window {
    grid-column: 2 / 4;
    background-color: var(--lightGray);
    border: 2px solid var(--blue);
    height: var(--ImageProcessingHeight);
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
/*****************************************
* Body CSS -- End
*****************************************/

/*****************************************
* Image CSS -- Begin
*****************************************/
.image-window {
    grid-column: 2;
    align-self: center;/**/
    justify-self: center;/**/
}

.image-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    /*background-color: #2196F3;*/
    border: 2px solid var(--black);
    border-radius: 5px;
}

.image-grid-item {
    background-color: var(--black);
    /*border: 2px solid rgba(0, 0, 0, 0.8);/**/
    padding: 2px;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/*****************************************
* Image CSS -- End
*****************************************/

/*****************************************
* Image Selction CSS -- Begin
*****************************************/
.image-selection-header {
    background-color: var(--darkGray);
    text-align: center;
    padding: 10px;
    margin: 0;
}

.Img-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lightGray);
}

.img-li {
    float: none;
    border-bottom: 1px solid var(--black);
    background-color: var(--lightGray);
}

.img-a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.img-li:first-child {
    border-top: 1px solid var(--black);
}

.img-li:last-child {
    border-bottom: none;
}
/*****************************************
* Image Selction CSS -- End
*****************************************/

/*****************************************
* Nav Bar CSS -- Begin
*****************************************/
.nav-li {
    float: left;
    border-right: 1px solid var(--black);
}

.nav-li-a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.Nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lightGray);
    grid-column: 2 / 4;
    border: 2px solid var(--blue);
    border-top: none;
}

.header-grid-container {
    display: grid;
    grid-template-columns: auto var(--ImageSelectWidth) var(--ImageDisplayWidth) auto;
}

.header-grid-item {
    background-color: var(--lightGray);
    border: 2px solid var(--black);
}

.logo-item {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    grid-column: 2;
}
/*****************************************
* Header CSS -- End
*****************************************/

